## {{ version }} ({{ timestamp | date(format="%Y-%m-%d") }})

{% for group, commits in commits | group_by(attribute="group") %}
### {{ group }}
{% for commit in commits %}
- {{ commit.message | trim }}{% if commit.scope %} (**{{ commit.scope }}**){% endif %}
{% endfor %}
{% endfor %}
